{% extends 'base.html' %} 

{% block content %}
  <h1>Todo</h1>
  <hr>
  {% for todo in todos %}
    <ul>
      {% if request.user == todo.author %}
        {{todo.author}} - {{todo.title}}
        <form action="{% url 'todos:complete' todo.pk %}" method="post">
          {% csrf_token %}
          {% if todo.completed %}
          <input type="submit" value="취소하기">
          {% else %}
          <input type="submit" value="완료하기">
          {% endif %}
        </form>
        <form action="{% url 'todos:delete' todo.pk %}" method="post">
          {% csrf_token %}
          <input type="submit" value="삭제하기">
        </form>
      {% endif %}
	  </ul>
  {% empty %}
    <p>작성된 글이 없습니다.</p>
  {% endfor %} 

{% endblock content %}
